:root {
    --vertical-alignment: 3.2rem;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.5;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-areas: "header" "image" "hero";
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   
}

.header {
    grid-area: header;
   
    margin-block-start: 3.1rem;
    width: 31.1rem;
    margin-inline: auto;
}

.hero {
    grid-area: hero;
    margin-block-start: 6.4rem;
}

.hero__information {
    max-width: 31.1rem;
    margin-inline: auto;
}

.hero__title {
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
    line-height: 4.2rem;
    letter-spacing: 1.08254rem;
    color: #423A3A;
}

.hero__title strong {
    font-weight: 300;
    color: #CE9898;
    line-height: 4.2rem;
}

.hero__description {
    text-align: center;
    margin-block-start: 1.6rem;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: #CE9898;
}

.input__control {
    margin-block-start: 3.2rem;
    position: relative;
}

.input {
    mix-blend-mode: normal;
    opacity: 0.5;
    border: 1px solid #CE9898;
    border-radius: 2.8rem;
    background-color: transparent;

    width: 100%;
    height: 4.8rem;
    font-family: 'Josefin Sans', sans-serif;

    padding: 1.1rem 2.4rem 0.9rem;

    font-size: 1.4rem;
    line-height: 2.8rem;
    outline: none;
    color: #423A3A;
}

.input[aria-invalid="true"] {
    border: 2px solid #F96464;
}

.input[aria-invalid="true"] ~ .input__icon-error {
    display: block;
}

.input[aria-invalid="true"] ~ #input-error .input__error-message {
    display: block;
}


.input__icon-error {
    display: none;
    position: absolute;
    z-index: 1;
    inset-block-start: 1.3rem;
    inset-inline-end: 7.2rem;
}

.input::placeholder{
    font-family: 'Josefin Sans', sans-serif;

    font-size: 1.4rem;
    line-height: 2.8rem;
    color: #CE9898;
}

.input__submit {
    position: absolute;

    inset-block-start: 0;
    inset-inline-end: 0;

    width: 6.4rem;
    height: 4.8rem;

    background: linear-gradient(135deg, #F8BFBF 0%, #EE8B8B 100%);
    box-shadow: 0px 1.5rem 2rem rgba(198, 110, 110, 0.247569);

    border: none;
    border-radius: 2.8rem;
}

.input__error-message {
    margin-block-start: 8px;
    display: none;
    font-size: 1.3rem;
    line-height: 1.3rem;
    color: #F96464;
}

.aside {
    grid-area: image;

    display: flex;
    align-items: center;
    justify-content: center;
}

.aside img {
    max-width: 100%;
}

@media screen and (min-width: 1440px) {

    :root {
        --vertical-alignment: 16.5rem;
    }

    body {
        grid-template-columns: 1fr 61rem;
        grid-template-rows: 10.8rem 1fr;
        row-gap: 13.6rem;
        grid-template-areas: "header image" "hero image";
        background-image: url(./images/bg-pattern-desktop.svg),  linear-gradient(150.03deg, #FFFFFF 0%, #FFF4F4 84.51%);    
        background-repeat: no-repeat, no-repeat;
        background-size: contain, auto;
    }

    .header {
        margin-block-start: 0;
        margin-inline-start: var(--vertical-alignment);
        display: flex;
        align-items: flex-end;
    }

    .hero {
        margin-block-start: 0;
        margin-inline-start: var(--vertical-alignment);
    }

    .hero__information {
        max-width: 44.4rem;
        margin-inline: 0;
    }

    .hero__title {
        text-align: left;
        font-size: 6.4rem;
        line-height: 7.1rem;
        letter-spacing: 1.73206rem;
    }

    .hero__title strong {
        line-height: 6.4rem;
    }

    .hero__description {
        text-align: left;
        margin-block-start: 3.2rem;
        font-size: 1.6rem;
        line-height: 2.8rem;
    }

    .input__control {
        margin-block-start: 4rem;
    }

    .input {
        height: 5.6rem;
        font-size: 1.6rem;
        padding: 1.5rem 3.2rem 1.3rem;
    }

    .input__icon-error {
        inset-block-start: 1.7rem;
        inset-inline-end: 11.6rem;
    }

    .input::placeholder {
        font-size: 1.6rem;
    }

    .input__submit {
        font-size: 1.6rem;
        width: 10rem;
        height: 5.6rem;
    }

    .input__error-message {
        margin-block-start: 4px;
        line-height: 2.8rem;
    }
}